<h1>To Do</h1>

  <p>Here are all your lists:</p>

  <ul>
    <% @lists.each do |list| %>
      <li><a href="/lists/<%= list.id%>"><%= list.name %></a>   <a href="/list/<%= list.id() %>/edit">Update this list</a></li>
    <% end %>
  </ul>
<a href="lists/new">Add a new list.</a>
