<h1>Add a new List</h1>

  <form action="/lists" method="post">
    <label for="name">Give a name to your list:</label>
    <input id="name" name="name" type="text">

    <button type="submit">Create</button>
  </form>
